@import "../../style/index.css";

.create-organization-main__container {
    position: relative;
    padding: 2rem;
    margin: auto;
    border-radius: 0.5rem;
    max-width: max-content;
}

.creat-organization__text {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    padding-top: 122px;
    margin-top: 20px;
    text-align: center;
}

.create-organization__form {
    display: flex;
    justify-content: center;
    width: 50vw;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;

}

.create-organization__container {
    overflow: auto;
}

.create-organization__form-button {
    display: flex;
    justify-content: center;
}

.create-organization__form-items {
    margin-bottom: 10px;
}

.create-organization {
    width: 100%;
    margin: 20px;
}
