@import "../../style/index.css";

.groups__container {
  display: flex;
  justify-content: space-between;

  padding-top: 120px;

  padding-left: 32px;
  padding-right: 32px;
}

.groups_search-input {
  width: 272px;
  height: 37px;

  padding-left: 24px;
}

.groups {
  background-color: white;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
}

.groups__table {
  width: 100%;
}

.groups-title {
  font-size: 20px;
  height: 40px;
  border-bottom: 1px solid var(--color-grey-border);
  margin-left: 12px;
  padding-left: 24px;
}

.groups-title_label {
  width: 20%;
}

.groups-title_age {
  width: 80%;
}

.groups-title_label,
.groups-item_label {
  padding-left: 24px;
}

.groups-body {
  font-size: 14px;
}

.groups-item {
  width: 100%;
  height: 52px;
  padding-left: 24px;
  border-bottom: 1px solid var(--color-grey-border);
}

.groups__table tbody tr {
  transition: all 0.3s;
}

.groups__table tbody tr:hover {
  background-color: var(--color-lightgrey);
}
