.activity_container {

    padding-top: 121px;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    overflow: auto;
}

.activity_item {
    font-family: "Inter", sans-serif;
    font-size: 32px;

    background: white;
    height: 30vh;
    width: 440px;

    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.active_activity {
    color: black;
}

@media screen and (max-width: 700px) {
    .activity_container {
        width: 100%;
    }

    .activity_container {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}