.creat__form {
  margin-top: 30px;
  margin-right: 208px;
  margin-left: 208px;
  background: white;
  padding: 48px 32px;
}
.add_children{
}

.creat__text {
  padding-top: 100px !important;
}

.childrenScroll {
  max-height: 45vh;
  overflow-y: scroll;
}

.Close-Button {
  margin: auto auto;
}

.add_children {
  margin: 0 auto;
  padding: 0;
}

.add_children-item {
  margin-bottom: 30px;
}

.button-addChild {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}

.add_children-in-group__button {
  text-align: center;
}