:root {
  --color-background: rgba(250, 213, 180, 0.2);
  --color-lightorange_main: rgba(255, 182, 115, 0.5);
  --color-lightorange_main_07: rgba(255, 182, 115, 0.7);
  --color-brown_table: rgba(191, 117, 48, 0.2);
  --color-lightorange: #FAD5B4;
  --color-orang_main: #ff9b40;
  --color-brown_accent: #bf7530;

  --color-orang: #FFBF85;
  --color-mint: #A7E8C2;

  --color-brown_main: #a65000;
  --color-button_main: #A65000;

  --color-black: #2D3748;
  --color-img: #D9D9D9;
  --color-darkgrey-back: rgba(217, 217, 217, 0.5);
  --color-darkgrey: #a3a3a3;
  --color-grey-border: #CDCDCD;
  --color-lightgrey: #e6e6e6;

  --color-red: #d53f8c;
  --color-lightred: #e895c0;
  --color-lightred-hover: #f2bfda;

  --color-bg-input: rgba(236, 241, 247, 1);
  --color-bg-input-hover: rgba(228, 235, 247, 1);
}
