@import "../../style/index.css";


.button {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border-radius: 8px;
  background-color: var(--color-brown_main);
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  outline: transparent;
  transition: all 0.3s;
  cursor: pointer;
}


.button:hover{
  background-color: var(--color-lightorange_main);
  color: var(--color-darkgrey);
}

.button_children {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}