@import "../../style/index.css";


.date__container {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    width: 359px;
    height: 56px;
    padding: 4px 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: black;
    border-radius: 8px;
}

.date__container:hover {
    outline: 3px solid black;
}

.calendar-move {
    visibility: hidden;
}

.calendar-move.active {
    visibility: visible;
}
