@import "../../style/index.css";

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 32px;
  height: 96px;
  background-color: white;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

.header__logo {
  font-family: "Architects Daughter", sans-serif;
  color: var(--color-brown_main);

  width: 304px;
  height: 75px;
  font-size: 50px;
  font-weight: 400;

  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.Select {
  font-family: "Inter", sans-serif;
  font-size: 20px;
}

.header__nav {
  margin-left: auto;
}

.header__nav-list {
  display: flex;
  list-style-type: none;
}

.header__nav-item {
  font-size: 20px;
  line-height: 1;
  color: #ffffff;
}

.xnj {
  background-color: #e895c0;
}

.nav-links {
  font-family: "Inter", sans-serif;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.header__nav-item:nth-child(n + 2) {
  margin-left: 20px;
}

@media screen and (max-width: 980px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: -525px;
    display: flex;
    flex-direction: column;
    width: 525px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s linear;
  }

  .header__nav.active {
    transform: translateX(100%);
  }

  .header__nav-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 60px;
  }

  .header__nav-item {
    margin: 10px 0;
    font-weight: 500;
    color: #e76712;
  }

  .header__nav-item:nth-child(n + 2) {
    margin-left: 0;
  }

  .header__logo {
    font-size: 40px;
  }
}
