@import "../../style/index.css";

.ModalDefault {
  padding: 40px;
  color: black;
  border-radius: var(--background-color-calendar);
}

.react-responsive-modal-modal {
  max-width: 872px !important;
}

.ModalCloseButton {
  width: 20px;
  height: 20px;
}

.theme-dark .ModalDefault {
  background: rgba(31, 32, 41, 1);
  box-shadow:
    rgba(138, 143, 160, 0.12) 0 2px 4px 0,
    rgba(138, 143, 160, 0.32) 0 2px 16px 0;
}

.Modal {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  width: 440px !important;
  height: 394px;
}

.Modal_header {
  border-bottom: #CDCDCD solid 1px;
  padding-bottom: 16px;
}

.Modal_header-subject_name {
  font-size: 28px;
}

.Modal_header-data {
  font-size: 20px;
}

.Modal_content {
  font-size: 14px;
  padding-top: 22px;
  padding-left: 0 !important;
}

.Modal_content-information {
  max-width: 400px;
}

.Modal-name {
  font-size: 40px;
}

.Modal_content-item {
  display: flex;
  gap: 5px;
}

.Modal_footer {
  position: absolute;
  margin-top: 322px;
  bottom: 32px;

  display: flex;
  gap: 15px;
  justify-content: space-between;
}
