@import "../../style/index.css";

.select-container {
    position: relative;
    width: max-content;
    min-height: 1.5em;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 0 32px 0 32px;
    outline: none;
}

.select-value {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: var(--color-black);

    flex-grow: 1;
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
}

.select-caret {
    translate: 0 25%;
    border: .25em solid transparent;
    border-top-color: var(--color-black);
}

.select-options {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    max-height: 15em;
    overflow-y: auto;
    width: 336px;
    right: 0;
    top: calc(100% + 35px);
    background-color: white;
    z-index: 100;
}

.select-options.show {
    display: block;
}

.select-option {
    height: 52px;
    padding-left: 24px;
    padding-top: 18px;


    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: var(--color-black);

    border-bottom: 2px solid #E2E8F0;

    cursor: pointer;
}

.select-option.highlighted {
    background-color: #E2E8F0;
}

.select-option-last {
    display: flex;
    justify-content: center;

}

.select-option-last:hover {
    background-color: var(--color-lightorange);

}

.organization-select {
    margin-top: 10px;
}